# Importing the libraries

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re

# Reading the dataset

In [ ]:
athlete = pd.read_csv('athlete_events.csv')
noc = pd.read_csv('noc_regions.csv')

In [ ]:
ath = athlete.copy()
nat = noc.copy()
#creating copies of the dataframe

# Data Exploration

In [ ]:
ath.head()

In [ ]:
ath.tail()

Some Observations: 

Games column is a wastage of space as we already have Year and Season stating the same.

Event column also extra information that is already present in the sport column. Hence Event column can be modified

Id 135571 is repeated, but it isnt a duplicate : single player performing more than once.
If all the events are same we can consider that data as duplicate.

In [ ]:
nat.head()

In [ ]:
ath.shape

In [ ]:
nat.shape

In [ ]:
ath.info()

Null values : medals, weight, height

In [ ]:
ath.describe()

Modifications can be made with the Age column, Height and weight:

In [ ]:
ath.isnull().sum()

Age, Weight, Height has null values

In [ ]:
nat.info()

Observation :

In both the datsets, The column NOC is common.

So we create a new column 'Region' which will map to the noc in the athlete datset

# Data Cleaning & Manipulation

Adding a new column 'region' to the ath DataFrame, The region should be mapped with the NOC column of nat Dataframe

In [ ]:
region_col = ath['NOC'].map(nat.set_index('NOC')['region'])
ath.insert(7, 'region', region_col)
#inserting the column 'region'

In [ ]:
ath

Dropping the NOC column

In [ ]:
ath.drop('NOC', axis = 1, inplace = True)

In [ ]:
ath

Dropped the NOC column and replaced it with a region column

Handling the NULL VALUES in the columns : 

AGE

WEIGHT

HEIGHT

(MEAN OF THE COLUMNS)

In [ ]:
ath[ath.Age.isnull()].head()

In [ ]:
ath['Age'].fillna(ath.Age.mean(), inplace = True)
ath['Height'].fillna(ath.Height.mean(), inplace = True)
ath['Weight'].fillna(ath.Weight.mean(), inplace = True)

In [ ]:
#checking if the null values are removed
ath[ath.Age.isnull()].head()

Observations : 

No more null values

In [ ]:
ath.iloc[[147]]
#checking the 147 index value that had null values

In [ ]:
ath.isnull().sum()

The Height , Weight, Age has been cleared off of null values

In [ ]:
#listing out all the values of the region columns where the values are null
ath[ath.region.isnull()].head()

In [ ]:
nat.head()

In [ ]:
#finding out if the region name singapore exist
nat.where(nat['region']=='Singapore')

In [ ]:
if 'Singapore' in nat.region:
    print(nat.NOC)
#no outputs state that there is no such name as Singapore in the region column.

HANDLING THE NULL VALUES IN THE MEDALS COLUMN

In [ ]:
ath.head()

In [ ]:
ath['Medal'].unique()

In [ ]:
ath['Medal'].nunique()

In [ ]:
ath['Medal'].value_counts()

REPLACING   

NAN WITH 0

GOLD WITH 1

SILVER WITH 2

BRONZE WITH 3

In [ ]:
#NaN cannot be accessed using quotes as it isnt a string
ath['Medal'].replace([np.nan,'Gold','Silver', 'Bronze'],[0,1,2,3], inplace = True)

In [ ]:
ath.head()

In [ ]:
ath['Medal'].value_counts()

In [ ]:
ath.info()

If medal was in float format, we have to typecast it to an integer type

In [ ]:
ath.isnull().sum()

OBSERVATIONS :

Apart from regions everything else is not null.

Team is also providing us the same information as region so we can drop Region.

In [ ]:
ath.head()

DROPPING COLUMNS :

Regions - same data as team

Games - same data as year and season

In [ ]:
ath.drop(['region', 'Games'], axis = 1, inplace = True)

In [ ]:
ath

REMOVING the unwanted phrases from the 'Event' column

In [ ]:
ath.head(10)

In [ ]:
#PATTERN : The event starts with the name of the sports which is already present in the sports column

In [ ]:
for i ,j in zip (ath.Sport, range(len(ath.Event))):
    ath.Event[j] = re.sub(f"{i}\s","",ath.Event[j])
#\s is for space

In [ ]:
ath.head(10)

In [ ]:
ath.info()
#Entire data after cleaning the data

Age should be an integer type not float
CHANGING THE DATATYPE OF AGE TO INT FROM FLOAT

In [ ]:
ath.Age = ath.Age.astype(int)

In [ ]:
ath.info()

The final data has been cleaned

# Exporting our cleansed data

In [ ]:

#ath.to_csv(), ath.to_json(), ath.to_dict()......

In [ ]:
#exporting to json
ath.to_json('athletes_dataset.json')

#exporting to Excel
ath.to_excel('athletes_dataset.xlsx')

#exporting to csv
ath.to_csv('athletes_dataset.csv')

# Data Analysis

In [ ]:
#showing the relationship between height and weight
x = ath.Height
y = ath.Weight
plt.scatter(x,y)
plt.title("Height V/s Weight")
plt.xlabel("Height")
plt.ylabel("Weight")

CONCLUSION :

These variables are directly dependent on each other

In [ ]:
#Females and males who participated in the olympics during 1896 to 2016
ath["Gender"].value_counts().plot.bar(ath['Gender'])
plt.grid()

In [ ]:
#males and females participated in the summer and winter olympics
ath['Gender'].groupby(ath['Season']).value_counts().plot.bar(ath['Gender'])
plt.grid()
plt.show()

In [ ]:
import plotly.express as px
#provides a more interactive graph

In [ ]:
px.histogram(ath, x = ath.Season, color = ath.Gender, barmode = 'group', color_discrete_map = {"M":'pink','F':'deeppink'})

The top 5 countries with the most medals

In [ ]:
fig = px.histogram(ath.Medal, x = ath.Team)
fig.show()

In [ ]:
fig = px.histogram(ath[ath['Gender']=='F']['Gender'], x=ath.Year)

In [ ]:
fig.show()